.slider {
    display: grid;
    gap: var(--sp-6);

    --mg-inline: var(--sp-4);

    margin-inline: calc(var(--mg-inline) * -1);
}

.slider__list {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    gap: var(--sp-2);

    padding-inline: var(--mg-inline);

    overflow-x: scroll;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
    }

    cursor: grab;

    &:active {
        cursor: grabbing;
    }

    & .slider__litem {
        min-width: 0;
        flex: none;

        display: flex;
        flex-direction: column;
        gap: var(--sp-6);

        & img {
            pointer-events: none;
        }
    }
}

/* Navigation Styling */

.slider__control {
    & > * {
        width: var(--fs-2);
        aspect-ratio: 1/1;
    }
}

/* Pagination Styling */
.slider__pagination {
    display: flex;
    justify-content: center;
    gap: var(--sp-4);
}

.slider__pagination ul {
    display: flex;
    list-style: none;
    gap: var(--sp-4);
}

.slider__dot {
    width: var(--fs-2);
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: var(--clr-black);
    cursor: pointer;
    transition: background-color var(--ts-2);

    @media (hover) {
        &:is(:hover, :focus-visible) {
            background-color: var(--clr-dark-grey);
        }

        &:active {
            color: var(--clr-white);
        }
    }
}

.slider__dot.active {
    background-color: var(--clr-green);
}
